@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <h4>Добро пожаловать, <b><i>@User.Identity.Name</i></b>!</h4>
    @Html.ActionLink("Выйти", "Logoff", "Account")
}
else
{
    <p>Вы не авторизованы!</p>
    <p>@Html.ActionLink("Войти", "Login", "Account")</p>
    <p>@Html.ActionLink("Зарегистрироваться", "Register", "Account")</p>
}