@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>Ваш логин: @User.Identity.Name!</p>
    @Html.ActionLink("Выйти", "Logoff", "Account")
}
else
{
    <p>Вы не авторизованы!</p>
    <p>@Html.ActionLink("Войти", "Login", "Account")</p>
    <p>@Html.ActionLink("Зарегистрироваться", "Register", "Account")</p>
}